body{
  font-family: "Helvetica Neue", "Tahoma", Arial, sans-serif;
  background-image: url(/images/fondo.png);
  background-repeat: repeat-x;
}

#header{
  background-image: url(/images/header.png);
  background-repeat: no-repeat;
  height: 150px;
}

#footer{
  width: 100%;
  height: 30px;
  background-image: url(/images/footer.png);
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 7px;
  color: #F09020;
}

.content{
  font-family: "Tahoma", Arial, sans-serif;
  min-height: 400px;
}

.title{
  color: #F09020;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.subtitle{
  color: #000;
  text-decoration: underline;
  font-size: 16px;
}

.text{
  color: #505050;
  font-size: 14px;
}

.info-link{
  color: #F09020;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.menu{list-style-type: none;}

.menu a{
  font-family: "Tahoma", Arial, sans-serif;
  color: #505050;
  text-decoration: none;
  padding-left: 12px;
}

.selected a{
  color: #F09020;
  font-weight: bold;
  background-image: url(/images/arrowicon.png);
  background-repeat: no-repeat;
}

#social-menu{
  width: auto;
  height: auto;
  position: fixed;
  top: 130px;
  left: 5px;
}

.social-icon{
  width: 24px;
}

input.send {
	-moz-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 14px;
  width: 120px;
}

input.send:hover, input.send:focus{
  background-color: #F09020;
  color: #FFFFFF;
  font-weight: bold;
}

.mail_list {
	background-color: #B9C7D3;
  float: left;
  padding: 10px;
  width: 100%;
}

.mail_list table {
	font-size: 14px;
  width: 100%;
}

.mail_list table tr {
	background: none repeat scroll 0 0 #CFDFEC;
  color: #3F586D;
}

.mail_list table tr td {
	border-bottom: 1px solid #B9C7D3;
  padding: 2px 20px;
}

.mail_list a:link, .mail_list a:visited {
	background: none repeat scroll 0 0 transparent;
  font-weight: 400;
  text-decoration: underline;
}
.mail_list .text {
	margin: 0;
}
td.subject {
	height: 20px;
  overflow: hidden;
  width: 58%;
}
td.from {
	height: 20px;
  overflow: hidden;
  width: 30%;
}
a.subject {
	float: left;
  height: 20px;
  overflow: hidden;
  width: 100%;
}
.contact_list {
	float: left;
  width: 100%;
}
.contact_list .odd {
	float: left;
  width: 50%;
}
.contact_list .even {
	float: left;
  width: 50%;
}