body{
  font-family: "Helvetica Neue", "Tahoma", Arial, sans-serif;
  background-image: url(/images/fondo.png);
  background-repeat: repeat-x;
}

#header{
  background-image: url(/images/header.png);
  background-repeat: no-repeat;
  height: 150px;
}

#nav {
	float: left;
	width: 100%;
}
#nav .nav{
	display: inline;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#nav .nav li{
	-moz-border-radius: 5px 5px 0 0;
	-moz-box-shadow: 0 0 4px #556677;
  background: none repeat scroll 0 0 #F09020;
  display: inline;
  float: left;
  font-size: 14px;
  list-style: none outside none;
  margin: 0 2px;
  padding: 10px 14px;
  text-transform: uppercase;
  width: auto;
}
#nav .nav li a{
	color: #FFFFFF;
	text-decoration: none;
}
#nav .nav li a:hover {
	text-decoration: underline;
}
#nav .nav .logout{
	-moz-border-radius: 5px 5px 5px 5px;
  float: right;
  font-size: 12px;
  margin: 8px 2px 0;
  padding: 5px 14px;
  text-transform: capitalize;
}
#content {
	float: left;
  padding-top: 20px;
  position: relative;
  width: 100%;
}

#footer{
  width: 100%;
  height: 30px;
  background-image: url(/images/footer.png);
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 7px;
  color: #F09020;
}

.content{
  font-family: "Tahoma", Arial, sans-serif;
  min-height: 400px;
}

.title{
  color: #F09020;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.subtitle{
  color: #000;
  text-decoration: underline;
  font-size: 16px;
}

.text{
  color: #505050;
  font-size: 14px;
}

.info-link{
  color: #F09020;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.menu{list-style-type: none;}

.menu a{
  font-family: "Tahoma", Arial, sans-serif;
  color: #505050;
  text-decoration: none;
  padding-left: 12px;
}

.selected a{
  color: #F09020;
  font-weight: bold;
  background-image: url(/images/arrowicon.png);
  background-repeat: no-repeat;
}

#social-menu{
  width: auto;
  height: auto;
  position: fixed;
  top: 130px;
  left: 5px;
}

.social-icon{
  width: 24px;
}

input.send, input.cancel {
	-moz-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #F09020;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: bolder;
  padding: 10px 5px;
  text-transform: uppercase;
  width: auto;
}

input.send:hover, input.send:focus, input.cancel:hover, input.cancel:focus {
  background-color: #F09020;
  color: #FFFFFF;
  font-weight: bold;
}

.mail_list {
	background-color: #B9C7D3;
  float: left;
  padding: 10px;
  width: 100%;
}

.mail_list table {
	font-size: 14px;
  width: 100%;
}

.mail_list table tr {
	background: none repeat scroll 0 0 #CFDFEC;
  color: #3F586D;
}

.mail_list table tr td {
	border-bottom: 1px solid #B9C7D3;
  padding: 2px 20px;
}

.mail_list a:link, .mail_list a:visited {
	background: none repeat scroll 0 0 transparent;
  color: #3F586D;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.mail_list a:hover {
	text-decoration: underline;
}
.mail_list .text {
	margin: 0;
}
td.subject {
	height: 20px;
  overflow: hidden;
  width: 58%;
}
td.from {
	height: 20px;
  overflow: hidden;
  width: 30%;
}
a.subject {
	float: left;
  height: 20px;
  overflow: hidden;
  width: 100%;
}
.contact_list {
	float: left;
  width: 100%;
}
.contacts {
	background-color: #B9C7D3;
  float: left;
  margin-bottom: 10px;
  padding: 10px;
  width: 97.9%;
}
.contact_list .odd {
	background: none repeat scroll 0 0 #CFDFEC;
  float: left;
  width: 50%;
}
.contact_list .even {
	background: none repeat scroll 0 0 #CFDFEC;
  border-right: 1px solid #B9C7D3;
  float: left;
  margin-right: 8px;
  width: 49%;
}
.contact_list .text {
    margin: 0;
}
#top-nav {
	float: left;
	width: 100%;
}
#top-nav a {
	-moz-border-radius: 5px 5px 5px 5px;
  background-color: #F09020;
  color: #FFFFFF;
  float: left;
  font-weight: normal;
  line-height: 1;
  padding: 5px;
  text-decoration: none;
}
span.cke_skin_kama {
    -moz-border-radius: 5px 5px 5px 5px;
    border: 1px solid #D3D3D3;
    float: left;
    padding: 5px;
    width: 100%;
}
.flash {
	color: #990000;
  font-size: 18px;
  left: 10%;
  position: absolute;
  top: 21%;
}