body{
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset{
  border: none;
}

.login{
  color: #818181;
  width: 600px;
  background-color: #F6F5F5;
  margin: 60px auto;
  border: 1px solid #999;
  /*  */
  -moz-border-radius: 15px;
  border-radius: 15px;
  /**/
  -moz-box-shadow: 0 0 1px 1px #999;
  -webkit-box-shadow: 0 0 1px 1px #999;
  box-shadow: 0 0 1px 1px #999;
}

.login p{
  margin-top: 40px;
}

.login input[type=text], .login input[type=password]{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  color: #818181;
  width: 550px;
  height: 30px;
  border: 1px solid #CCCCCC;
  -moz-box-shadow: inset 0 0 5px #CCC; /* for Firefox 3.5+ */
 	-webkit-box-shadow: inset 0 0 5px #CCC; /* for Safari and Chrome */
 	box-shadow: inset 0 0 5px #CCC; /* CSS 3 Spec */
}

.login input:focus {
  outline:none;
  border: 1px solid #99CC00;
}

table.emails{
  padding: 0px;
  border-spacing: 0px;
  border: 1px solid #FFF7D5;
}

table.emails td{
  padding: 7px 20px;
}

table.emails .odd {
  background-color: #FFF7D5;
}

table.emails tr:hover{
  background-color: #F3F9E1;
}