all emails here
= @emails.count
%br
%table.emails
  - @emails.each_with_index do |email, index|
    %tr{:class => "#{'odd' if (index%2) > 0}"}
      %td
        = email.subject
      %td
        %a.box{:href => "/emails/#{email.id}/contacts/new"} Seleccionar
      