- if flash[:notice]
  .flash
    = flash[:notice]
.login.span-19.prepend-1.border.content
  %h3.title bienvenidos a spider
  %p.text Ingresa tu direcci칩n de correo y contrase침a para ingresar a la aplicaci칩n
  %form{:action => '/login', :method => 'post'}
    %fieldset
      %p
        %label.login Correo Electr&oacute;nico:
        %input{:type => 'text', :name => 'email', :class => 'text-input'}
      %p
        %label.login Contrase&ntilde;a:
        %input{:type => 'password', :name => 'password', :class => 'text-input'}
      %p
        %input{:type => 'submit', :value => 'Iniciar Sesi칩n', :class => 'send'}